# Virtual Environment
.venv/

# VSCode
.vscode/

# pycache
**/__pycache__/**

# data
data/*
!data/temp.txt

# data prediction for test
mask_test/

real_mask_0001.jpg
test_mask_0001.jpg

# saved
saved/losses/train/*
!saved/losses/train/temp.txt

saved/losses/val/*
!saved/losses/val/temp.txt

saved/weights/*
!saved/weights/temp.txt
