# Virtual Environment
.venv/

# VSCode
.vscode/

# pycache
**/__pycache__/**

# data
data/*
!data/temp.txt

# data prediction for test
mask_test/
cobb_angle/cobb_test/
cobb_angle/cobb_test.zip

# saved
saved/losses/train/*
!saved/losses/train/temp.txt

saved/losses/val/*
!saved/losses/val/temp.txt

saved/weights/*
!saved/weights/temp.txt
